.filter {
    grid-column: filter-start / filter-end;
    background-color: #ffffff;
    width: 180px;
    margin: 10px;
    
    @media only screen and (max-width: 700px) {
        grid-column: center-start / center-end;
        justify-self: center;
    }

    @media only screen and (max-width: 400px) {
        grid-column: full-start / full-end;
    }

    .heading-1 {
        font-weight: bold;
    }

    hr {
        width: 75%;
        margin: 0 auto;
        background-color: #000;
    }
}